<h1>Contato</h1>
<h2>Sua página de contato</h2>
<p>Rua Quinze de Novembro, 120</p>
<p>Lídice - Rio Claro, RJ, 27475-000</p>
<p>Telefone: (24) 999222155</p>

<p><strong>Suporte:</strong><a href="#">admin@suporte.com</a></p>
<p><strong>Marketing:</strong><a href="#">marketing@suporte.com</a></p>

<img src="" alt="Alternate Text" />