@{
    var lista = new List<string> { "Marcelo", "Vitória", "Gabriel Ribeiro" };
}

<div class="text-center">
    <h1 class="display-5">Bem-vindo(a)</h1>
    <h5>Está é a lista de pessoas:</h5>
    @{
        for (int i = 1; i < lista.Count+1; i++)
        {
            <p>Pessoa @i: @lista[i-1]</p>
        }
    }
</div>
